/*hover para aumentar las tarjetas del index en lista recetas*/

  /*cambio de color en botones*/
  .mt-4 a:hover{
    background: #fff;
    color: rgb(26, 109, 218);
    border:  solid 1px rgb(26, 109, 218);
    transition-duration: .3s;
  }
  /*busqueda de Categorías*/
  .buscador1{
    padding: 5px;
   /* padding-right: 500;*/
    width: 600px;
    border-radius: 5px;
    position: relative;
   /* margin-left: 5px;*/
}
@media (max-width: 767px) {
  .buscador1{
    padding: 5px;
   /* padding-right: 500px;*/
    width: 600px;
    border-radius: 5px;
    position: relative;
   /* margin-left: 5px;*/
}
}